@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
$fontfamily: 'IBM Plex Sans';

$minwidth: 320px;

$light: #ffffff;
$gray: #9E9E9E;
$stroke: #DFE4EA;
$dark-gray: #3D3D3D;
$black: #000000;
$primary: #B00020;

$border-radius: 5px;
